
header{
  width: 100%;

  background-color: $main_color;
  padding: 18px 0;
  .header_wrap{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;


  }
  .logo{
    margin-right: 35px;
  }
  .menu-list{
    display: flex;
    li{
      margin-right: 25px;
      position: relative;
      &:last-child{
        margin-right: 0;
      }
    }
    a{

      color: #ffffff;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
      &.hot:after{
        content: "HOT";
        color: #e10000;
        font-size: 11px;
        font-weight: 700;
        position: relative;
        top: -8px;
        margin-left: 5px;
      }
      &.new:after{
        content: "NEW";
        color: #e10000;
        font-size: 11px;
        font-weight: 700;
        position: relative;
        top: -8px;
        margin-left: 5px;
      }
      &:hover{
        color: #111;
      }
    }

  }
  .header_contacts{
    display: flex;
    flex-direction: column;
    float: right;
    a{
      color: #ffffff;
      line-height: 23px;
      font-weight: 500;
      text-align: right;
      font-size: 27px;
      margin-bottom: 3px;
    }
    span{
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: -0.24px;
    }
  }
}

.button{
  width: 193px;
  height: 60px;
  background-color: #fb9332;
  display: flex;
  margin: 20px auto 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
  &:hover{
    background-color: #ffb83d;
  }
}

.title_page{
  height: 240px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  opacity: 1;
  //&:before{
  //  content: "";
  //  width: 100%;
  //  height: 100%;
  //  //background-color: rgba(1, 95, 6, 0.72);
  //  position: absolute;
  //  z-index: 0;
  //  display: inline-block;
  //  left: 0;
  //  right: 0;
  //  top: 0;
  //  bottom: 0;
  //}
  h1{
    color: #ffffff;
    position: relative;
    z-index: 10;

    font-size: 40px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
  }
}

.blog_list{
  padding: 60px 0;
}
.blog_list_item{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  img{
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
  .blog_list_item_inform{
    width: calc(100% - 50px);
    margin: -50px auto 0;
    background-color: #fff;
    padding: 25px;
    display: inline-block;
    margin-left: 25px;
    a{
      font-size: 18px;
      color: #111;
      line-height: 25px;
      margin-bottom: 4px;
      display: block;
      &:hover{
        color: #2c9fec;
      }
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #555;

    }
    .read_more{
      font-size: 14px;
      color: #2c9fec;
      line-height: 20px;
      &:hover{
        color: $main_color;
      }
    }
  }
}


.pagination{
  margin: 0 auto;
  justify-content: center;
  display: flex;
  .nav-links{
    display: flex;
    margin: 0 auto;
    .page-numbers{
      width: 42px;
      height: 42px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: #cccccc;
      font-size: 14px;
      font-weight: 500;
      margin-right: 10px;
      &.current, &:hover{
        background-color: #2c9fec;
        color: #fff;
        border: 1px solid #2c9fec;
      }
      &:last-child{
        margin-right: 0;
      }

    }
  }
}

footer{
  width: 100%;
  background-color: $main_color;
  margin-top: 20px;


  .footer_wrap{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #fff;


  }
  .logo{
    margin-right: 35px;
  }
  .footer_contacts{
    display: flex;
    flex-direction: column;
    float: right;
    a{
      color: #ffffff;
      line-height: 23px;
      font-weight: 500;
      text-align: right;
      font-size: 27px;
      margin-bottom: 5px;
    }
    span{
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: -0.24px;
    }
  }
  
}

.footer_main{
  padding: 20px 0 20px;
  color: #fff;
  .footer_menu_item{
    span{
      font-size: 17px;
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
      margin-top: 20px;
      
    }
    ul{

      a{
        font-size: 15px;
        font-weight: 400;
        line-height: 34px;
        color: #fff;
        &:hover{
          color: #2c9fec;
        }
      }
    }
    .social-list{
      display: flex;
      margin-bottom: 10px;
      li{
        margin-right: 20px;
        a{
          font-size: 24px;
        }
      }
    }


  }
}
.footer_middle_line{
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.payments{
  margin-top: 30px;
  display: flex;

  margin-bottom: 10px;
  li{
    margin-right: 10px;
  }
}

.footer_bottom_line{
  width: 100%;
  background-color: #fff;
  padding: 15px 0 20px;
}

.footer_bottom_line_inform{
  display: flex;



  .company_logos{
    display: flex;
    margin-right: 20px;
    a{
      margin-right: 15px;
    }
  }
  p{
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;

  }
}

.company_developer{

  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  a{
    color: #4abd57;
  }
}

.article_wrap{
  margin-top: 40px;
  img{

    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
.content{
  h1{
    font-size: 30px;
    color: #555;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 25px;
  }
  h2{
    font-size: 26px;
    color: #555;
    font-weight: 500;
    margin-bottom: 15px;
  }
  p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 20px;
    a{
      color: #00b3ee;
    }
  }
}

.post-navigation{

}