
$main_color: #4abd57;;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 40px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 768px, md: 1000px, lg: 1192px, xl: 1760px);
$container-max-widths: (sm: 728px, md: 960px, lg: 1160px, xl: 1720px);

$gutter: $grid-gutter-width;
