@import "vars";
@import "animated";
@import "libs";
@import "main_page";


::placeholder {
  color: #999;
}

::selection {
  background-color: #00b3ee;
  color: #fff;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.35;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}

a , button{
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none!important;
  //border: none!important;
  &:hover{
    text-decoration: none;
  }
}

input{
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {

    outline: none;
    height: 43px;
    border-radius: 20px;
    border: 1px solid #dedfe0;
    background-color: #ffffff;
    width: 100%;
    color: #333;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;

    line-height: 43px;
    padding: 0 20px;
  }
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
textarea{
  height: 200px;
  line-height: 20px;
  padding:  15px 20px ;
  border: 1px solid #dedfe0;
  background-color: #ffffff;
  width: 100%;
  color: #333;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  resize: none;
  border-radius: 20px;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


.text-center {
  text-align: center;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    list-style: none;
  }
}
@import "media"; // Always at the end
