<header>
    <div class="container">
        <div class="header_wrap">
            <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
            <a class="menu-link" href="#">Menu</a>
            <nav>
                <ul class="menu-list">
                    <li class="menu-item current-menu-item ">
                        <a href="#" class="hot">Special Offers</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="new">Help Me Decide</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Leasing Guide </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Blog   </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <div class="header_contacts">
                <a href="#">0344 387 2727</a>
                <span> Mon - Thu: 09:00 - 17:30 & Fri: 09:00 - 17:00</span>
            </div>
        </div>
    </div>
</header>